    {% extends 'layout.html'%}
    {% block content %}

    <main>
    <h1 id="edit">Insert the information of the product you want to create:</h1>
    <form method="post" action="/products/create">
        <div class="mb-3">
        <label class="form-label">Product Name:</label><br>
        <input class="form-control" type="text" name="name" /><br>
        <label class="form-label">Product Price:</label><br>
        <input class="form-control" type="text" name="price" /><br>
        
        
        <label for="category">Category:</label>
        <select class="form-select" name="category" id="category">
            <ul>
                {% for category in categories %}
                <option value="{{category[0]}}">{{category[1]}}</option>
                {%endfor%}
            </ul>
        </select><br>
        </div>
        <div class="mb-3">
        <button class="btn btn-primary" type="submit">submit</button>
        <a class="btn btn-primary" href="/products/list">cancel</a>
        </div>
        
    </form>
    </main>

    {% endblock %}



