{% extends 'layout.html'%}
{% block content %}


<main>
    <h1>Categories List</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Edit Category</th>
            <th scope="col">Delete Category</th>
          </tr>
        </thead>
        <tbody>
        {% for category in categories %}
          <tr>
            <th scope="row">{{category[0]}}</th>
            <td>{{category[1]}}</td>
            <td><a class="btn btn-primary" href="/categories/edit/{{category[0]}}" role="button">edit</a> </td>
            <td><a class="btn btn-primary" href="/categories/delete/{{category[0]}}" role="button">delete</a></td>
          </tr>
        {%endfor%}  
        </tbody>
    </table>
    <a href="/categories/new">ADD New Category</a><br>
</main>

{% endblock %}