{% extends 'layout.html'%}
{% block content %}

<main>
    <h1 id="edit">Insert the information of the category you want to create:</h1>
    <form method="post" action="/categories/create">
        <div class="mb-3">
        <label class="form-label">Category Name:</label><br>
        <input class="form-control" type="text" name="name" /><br>
        <button class="btn btn-primary" type="submit">submit</button>
        <a class="btn btn-primary" href="/categories/list">cancel</a>
        </div>
    </form>
    </main>

{% endblock %}